%li#dossier_general.active
  .dossierpage_small
    %p.title= dossier.title
    %p.status= dossier.status
  .dossierpage_small
    %ul
      %li= I18n.t :users_index_createdat
      %li= dossier.created_at.strftime("%d-%m-%Y")
      %li= I18n.t :users_index_lastedited
      %li= dossier.created_at.strftime("%d-%m-%Y")
      %li= I18n.t :dossier_nr_contacts
      %li= dossier_contacts.count.to_s
      %li= I18n.t :dossier_nr_tasks
      %li= dossier.tasks.count.to_s
      %li= I18n.t :dossier_nr_notes
      %li= dossier.notes.count.to_s
      %li= I18n.t :dossier_nr_agreements
      %li= dossier.agreements.count.to_s
