/ Show the actionbar
= render 'actionbar', :view => 'show'

/ Dossier details
.dossiers_canvas.twelve.columns
  .show_dossier
    %ul.tabs-content
    #content_canvas
      = render("dossiers/dossier_general", :dossier => @dossier, :dossier_contacts => @dossier_contacts)

    %ul.vertical_tabs_ajax
      %li= link_to I18n.t(:dossier_general), "/dossiers/" + @dossier.id.to_s + "?tab=general", :remote => true, :id => "dossier_general_tab", :class => "tab_ajax dossiergeneral active"
      %li= link_to I18n.t(:contacts_all_short), "/dossiers/" + @dossier.id.to_s + "?tab=contacts", :remote => true, :id => "contacts_tab", :class => "tab_ajax contact"
      %li= link_to I18n.t(:task_index_title), "/dossiers/" + @dossier.id.to_s + "?tab=tasks", :remote => true, :id => "tasks_tab", :class => "tab_ajax task"
      %li= link_to I18n.t(:notes_index_title), "/dossiers/" + @dossier.id.to_s + "?tab=notes", :remote => true, :id => "notes_tab", :class => "tab_ajax note"
      %li= link_to I18n.t(:agreement_index_title), "/dossiers/" + @dossier.id.to_s + "?tab=agreements", :remote => true, :id => "agreements_tab", :class => "tab_ajax agreement"
