$('#content_canvas').empty();
- if (@active == "general")
  $('#content_canvas').html("#{escape_javascript(render('dossiers/dossier_general', :dossier => @dossier, :dossier_contacts => @dossier_contacts))}");
- elsif (@active == "contacts")
  $('#content_canvas').html("#{escape_javascript(render('dossiers/dossier_contacts', :dossier_contacts => @dossier_contacts))}");
- elsif (@active == "tasks")
  $('#content_canvas').html("#{escape_javascript(render('dossiers/dossier_tasks', :dossier_tasks => @dossier_tasks))}");
- elsif (@active == "notes")
  $('#content_canvas').html("#{escape_javascript(render('dossiers/dossier_notes', :dossier_notes => @dossier_notes))}");
- elsif (@active == "agreements")
  $('#content_canvas').html("#{escape_javascript(render('dossiers/dossier_agreements', :dossier_agreements => @dossier_agreements))}");
