/ Show the actionbar
= render 'actionbar', :view => 'index'

#contentblock.twelve.columns
  .content_title.mod
  - if @extra_info
    - page_title = I18n.t(:mod_ins_index_title) + ' (' + @extra_info + ')'
  - else
    - page_title = I18n.t(:mod_ins_index_title)

  = render('layouts/pagetitle', :title => page_title, :path => 'nosearch')

  .content.insurances_canvas
    / Show filter fields
    .filter
      = form_tag 'ins_insurances', :method => :get do
        = hidden_field_tag 'filter', true
        = select_tag('insurance_nr', options_from_collection_for_select(@insurances, :insurance_nr, :insurance_nr), :include_blank => true)
        = select_tag('relation_id', options_from_collection_for_select(@relations, :id, :name), :include_blank => true)
        = select_tag('branch', options_from_collection_for_select(@branches, :branch, :branch), :include_blank => true)
        = select_tag('insurance_type', options_from_collection_for_select(@insurance_types, :ins_type, :ins_type), :include_blank => true)
        = select_tag('expiration_date', options_from_collection_for_select(@insurances, :main_premium_expiration_date, :date_for_select), :include_blank => true)
        = submit_tag I18n.t(:form_filter_button)
    
    = render('insurances_overview')