$('span#relation_name').html("#{@relation.name}");
$('span#relation_address').html("#{@relation.billing_address}");
$('span#relation_zipcode').html("#{@relation.billing_zipcode}");
$('span#relation_city').html("#{@relation.billing_city}");
$('span#relation_country').html("#{@relation.billing_country}");
$('span#relation_nr').html("#{@relation.relation_nr}");
