.form
  = form_for @claim do |f|
    / Show errors
    = render('layouts/form_errors', :object => @claim)

    .datablock_insurance

    = f.hidden_field :company_id, :value => current_user.company_id
    = render('layouts/form_field', :f => f, :label => I18n.t(:mod_claims_claim_nr), :field => :claim_nr, :size => "10")
    .field
      = f.label I18n.t :mod_ins_relation
      = f.collection_select(:relation_id, @relations, :id, :name, :include_blank => true)
    .field
      = f.submit I18n.t(:form_save_button), :class => 'button white'
  .clear
