/ Show the actionbar
= render 'actionbar', :view => 'index'

#contentblock.twelve.columns
  .content_title.mod
  = render('layouts/pagetitle', :title => I18n.t(:mod_claims_index_title), :path => 'nosearch')

  .content.insurances_canvas
    / Show filter fields
    .filter
      = search_form_for @search do |f|
        .row
          .label= f.label I18n.t(:mod_ins_relation)
          .option= f.select('id_eq', options_from_collection_for_select(@relations, :id, :name), :include_blank => true)
        .row
          .label
          .option= f.submit I18n.t(:form_filter_button)

    = render('claims_overview')
