/ Show the actionbar
= render 'actionbar', :view => 'show'

/ Show claim
#contentblock.twelve.columns
  .content_title.mod
  %h3= I18n.t :mod_claims_show_title
  .form
    .datablock_mod
      %ul#profile
        %li
          = I18n.t :mod_claims_claim_nr
          \:
        %li= @claim.claim_nr
        %li
          = I18n.t :mod_ins_relation
          \:
        %li= link_to @claim.relation.name, relation_path(@claim.relation)

      .clear
