/ Show organigram for this contact
#contentblock.twelve.columns
  .content_title.contact
  / Set pagetitle
  = render('layouts/pagetitle', :title => I18n.t(:contacts_organigram), :path => "nosearch")
  .contacts_canvas
    / Show boss
    .organigram_row
      - if @boss.blank?
        .contactdetails_organigram.no_data
          %p= I18n.t(:contacts_organigram_noboss)
      - else
        .contactdetails_organigram.other
          %ul
            %li.name= link_to @boss.full_name, contact_path(@boss)
            %li.title= @boss.function
    / Show current contact
    .organigram_row
      .contactdetails_organigram.current
        %ul
          %li.name= link_to @contact.full_name, contact_path(@contact)
          %li.title= @contact.function
      .vertical_line
    / Show employees
    .organigram_row
      - if @employees.empty?
        .contactdetails_organigram.no_data
          %p= I18n.t(:contacts_organigram_nopeople)
      - else
        - @employees.each do |employee|
          .contactdetails_organigram.other
            %ul
              %li.name= link_to @contact.full_name, contact_path(employee)
              %li.title= employee.function
