/ Show title
= render('layouts/pagetitle', :title => "Site dashboard", :path => 'nosearch')

/ Add new company  
#action_bar
  .action_button.general
    = link_to I18n.t(:company_new_title), new_company_url

/ Show all companies
#contentblock.twelve.columns
  .content_title.general
  %h3= I18n.t :company_all
  .content
    %table#companies
      %thead
        %tr
          %th= I18n.t :company_single
          %th= I18n.t :company_code_short
          %th= I18n.t :company_users
          %th
          %th
      %tbody
        - @companies.each do |company|
          %tr
            %td= link_to company.name, company_url(company)
            %td= company.code
            %td= link_to company.users.count.to_s, company_users_url(company.id)
            %td= link_to I18n.t(:edit), edit_company_url(company)
            %td= link_to I18n.t(:delete), company, :method => :delete, :data => { :confirm => I18n.t(:sure) }
